In [1]:
print("Bonjour Python")

Bonjour Python

In [ ]:
nom = input("veuillez saisir votre nom:")
print("Bonjour," ,nom)

Bonjour, Chaimae

In [1]:
a = int(input("veuillez saisir a ="))
b = int(input("veuillez saisir b ="))
print("la somme est =", a + b , "la multiplication est =",a*b)

la somme est = 47 la multiplication est = 90

In [2]:
a , b = b , a 
print("la valeur de a =", a , "la valeur de b =", b)

la valeur de a = 45 la valeur de b = 2

In [1]:
a = int(input("veuillez saisir a ="))
b = int(input("veuillez saisir b ="))
c= int(input("veuillez saisir c ="))
print("le max est ", max(a,b,c))

le max est  4

In [4]:
distance = int(input("veuillez saisir la distance"))
unite = input("veuillez saisir l'unité :")
if unite.lower() == "km":
    distance *= 1.6
    print("la distance =", distance , "milles")    
elif unite.lower()  == "mille":
    distance /= 1.6
    print("la distance =", distance , "km")   
else :
    print("unité invalide")

la distance = 36.800000000000004 milles

In [10]:
for i in range(4):
    for j in range(7):
        print("*", end=" ")
    print("\n")

* * * * * * *

* * * * * * *

* * * * * * *

* * * * * * *

In [ ]:
for i in range(18,0,-1):
    print(i , end =" ")
    if ((i-1 )%3 == 0):
        print("\n")

18 17 16

15 14 13

12 11 10

9 8 7

6 5 4

3 2 1

In [14]:
for i in range(6):
    for j in range(i):
        print(i , end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
liste=[]
rows=1
for i in range(1, 11):
    liste.append(i)
    if len(liste) == rows :
        print(*liste)
        liste=[]
        rows+=1

1
2 3
4 5 6
7 8 9 10

In [ ]:
#q6 solution 2
k=1
for i in range(1,6):
    for j in range(i-1):
        print(k, end=" ")
        k+=1
    print(" ")

1
2 3
4 5 6
7 8 9 10

In [25]:
liste=[]
for i in range(1, 5):
    liste.append(i)
    print(*liste)

1
1 2
1 2 3
1 2 3 4

In [27]:
for i in range(1, 5):
    for j in range(i):
        print(i , end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

In [31]:
for i in range(1, 6):
    for j in range(i,0,-1):
        print(j , end=" ")
    print("\n")

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [37]:
for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print("\n")
for i in range(4,0,-1):   
    for j in range(i):
        print("*", end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [56]:
for i in range(1, 11):
   if i <= 5 :
     for j in range(i):
         print("*", end=" ")
     print("\n") 
   else :
      for j in range(10-i):
         print("*", end=" ") 
      print("\n")

*

* *

* * *

* * * *

* * * * *

* * * *

* * *

* *

*

In [49]:
for i in range(5,0,-1):
    print(" "*(5-i),end=" ")
    for k in range(i):
        print("*", end=" ")
    print("\n")    
for i in range(2,6):
    print(" "*(5-i),end=" ")
    for k in range(i):
        print("*", end=" ")
    print("\n")

 * * * * *

  * * * *

   * * *

    * *

     *

    * *

   * * *

  * * * *

 * * * * *

In [55]:
for i in range(5,0,-1):
    for j in range(i, 0 , -1):
        print(j, end=" ")
    print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1